/* 
  =========
  Google Font Import
  =========
*/ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
    =======
    CSS Reset
    =======
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root{
    --dark-blue:hsl(233, 47%, 7%);
    --soft-violet: hsl(277, 64%, 61%);
    --desaturated-dark-blue:hsl(244, 38%, 16%);
    --white:hsl(0, 0%, 100%);
    --slight-trans-white:hsla(0, 0%, 100%, 0.75);
    --slighter-transparent-white: hsla(0, 0%, 100%, 0.6);
}


/* 
=======
  Basic style
=======
*/
body{
    background-color: var(--dark-blue);
    color:var(--white);
    font-size: 0.9375rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* 
=======
  Layout
=======
*/
.container{
    max-width:90rem;
    min-height:100vh;
    margin: 0 auto;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.9375rem;
}
.card{
    background-color: var(--desaturated-dark-blue);
    display: flex; 
    border-radius: 0.625rem;
    max-width: 71.875rem;
}
.card > * {
  flex: 1 1 50%;
}


/* 
========
  Card image style
========
*/

.card_image,
.image img{
  border-radius: 0 0.675rem 0.675rem 0;
}
.card_image{
  order:2;
  position: relative;
}
.image img{
  width: 100%;
  height: 100%;
}
.image::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background-color:var(--soft-violet) ;
  opacity: 0.4;
  border-radius: 0.675rem;
}


/* 
========
  Card info style
========
*/
.card_info{
  padding: 3.2rem ;
}

.card_title{
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8125rem;
  margin-bottom: 2.5rem;
  width:90%;
}
.purple{
  color:rgb(133, 41, 133);
}

.card_description{
  width:67%;
  margin-bottom: 4.5rem;
}

.card_stat {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:1rem;
  padding: 0;
}
.stat_num,
.stat_desc{
  display: block;
  padding-right: 2.5rem;
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
}
.stat_num{
  font-size:1.5rem;
  font-weight: 400;
  margin-bottom: 0.4375rem;
}

.attribution {
  font-size: 1rem; 
  text-align: center;
  display: block; 
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* 
  =======
  Media Queries
  =======
*/
@media(max-width:955px){
  .card{
    display:block;
    max-width:35rem;
  }
  .card_image,
  .image img{
    border-radius: 0.675rem 0.675rem 0 0;
  }
  .card_title{width: 85%;}
  .card_description{width:75%;}
  .card_title,
  .card_description{
    text-align:center;
    margin:0 auto;
    padding-bottom: 2rem;
  }
  .card_stat{
    width:80%;
    text-align: center;
    margin: 0 auto;
  }
  
}
@media(max-width:550px){.card_stat{width:90%;}}
@media(max-width:485px){
  .card_info{
    padding: 3.2rem 0.675rem;
  }
  .card_title{
    width:95%;
  }
  .card_description{
    max-width:90%;
  }
  .card_stat li{
    margin-bottom: 1.4rem;
  }
  .stat_num{
    margin: 0;
  }
  .card_stat{
    display: block;
    margin-left: 2.5rem;
  }
}
@media(max-width:400px){
  .card_title,
  .card_description{
    width:100%;
  }
  .card_title{
    font-size: 2.1rem;
  }
}